/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #f7f7f7;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-light: linear-gradient(
    270deg,
    rgb(197, 219, 241) 0%,
    rgb(184, 197, 211) 41%
  );
  --vt-c-light-soft:  linear-gradient(
    270deg,
    rgb(182, 192, 201) 0%,
    rgb(82, 86, 88) 41%
  );
  --vt-c-light-mute:   linear-gradient(
    135deg,
    rgb(161, 172, 182) 0%,
    rgb(68, 71, 73) 41%
  );

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-dark: linear-gradient(
    150deg,
    rgba(1, 90, 174, 1) 0%,
    rgba(0, 54, 107, 1) 41%,
    rgb(184, 197, 211) 70%,
    rgb(197, 219, 241) 100%
  );

  --vt-c-dark-soft:  linear-gradient(
    270deg,
    rgb(0, 115, 223) 0%,
    rgb(2, 72, 143) 41%
  );
  --vt-c-dark-mute:   linear-gradient(
    270deg,
    rgb(0, 115, 223) 0%,
    rgb(2, 72, 143) 41%
  );

  --vt-c-indigo: #26619c;
  
  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-dark);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}

:root.dark-mode {
  --color-background: var(--vt-c-dark);
  --color-background-soft: var(--vt-c-black-soft);
  --color-background-mute: var(--vt-c-black-mute);

  --color-border: var(--vt-c-divider-dark-2);
  --color-border-hover: var(--vt-c-divider-dark-1);

  --color-heading: var(--vt-c-text-dark-1);
  --color-text: var(--vt-c-text-dark-2);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  background-size: 250% 250%;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  animation: gradient2 0.5s ease forwards;
}

body.dark-mode {
  background-position: 100% 100%;
  animation: gradient 0.5s ease forwards;
}

@keyframes gradient {
	0% {
		background-position: 100% 100%;	}
	
	100% {
		background-position: 0% 0%;
	}
}

 @keyframes gradient2 {
	0% {
		background-position: 0% 0%;
	}

	100% {
		background-position: 100% 100%;
	}
} 
